<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/base64fonts.css">
		<link rel="stylesheet" type="text/css" href="css/ana-majik.css">
		<link rel="stylesheet" type="text/css" href="css/content.css">
	</head>
	<body>
		<div id="back-layer">
			<div id="red-bar"></div>
		</div>
		<div class="container">
			<div class="logo">
				<img src="images/horse_profile_colored.svg">
				<span class="logo-text">AnaMajik</span>
			</div>
			<div class="nav">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Where to Buy</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="hero-unit">
				<div class="hero-words">
					<span class="line"><hr class="art-line surround">All<hr class="art-line surround"></span>
					<span class="big-text">NATURAL</span>
					<span class="small-text">horse care products</span>
					<span><hr class="art-line bottom"></span>
				</div>
			</div>
		</div>
		<div class="container p-layer">
			<div class="column-container">
				<div class="col product border">
					<h3>Crystal Wash<hr></h3>
					<img src="images/crystal_wash.png">
					<p>AnaMajik's Crystal Wash brings a new dimension to how you look at cooling down your horse. <a href="#" class="more">Read More</a></p>
				</div>
				<div class="col product border">
					<h3>Hoof Butter<hr></h3>
					<img src="images/hoofbutter_small.png">
					<p>All-around protection for healthy hooves. Absorbs quickly for an immediate (and long lasting) shine. <a href="#" class="more">Read More</a></p>				
				</div>
				<div class="col product">
					<h3>Liniment<hr></h3>
					<img src="images/liniment_small.png">
					<p>Relief for temporary muscle stiffness and soreness. Works with the horse's body to provide a natural fix. <a href="#" class="more">Read More</a></p>				
				</div>
			</div>
		</div>
		<div class="container footer">
			<div class="column-container">
				<div class="col footer-col border">
					<h6>See what we are up to:</h6>
					<a class="twitter" href="#">Twitter</a>
					<a class="facebook" href="#">Facebook</a>
				</div>
				<div class="col footer-col border">
					<ul class="footer-nav">
						<li>Home</li>
						<li>Products</li>
						<li>Where to Buy</li>
						<li>FAQs</li>
						<li>Contact</li>
					</ul>
				</div>
				<div class="col footer-col">
					<span class="footer-logo">AnaMajik</span>
					<span>info@anamajik.com</span>
					<span class="small">&copy;2011 Ana Majik</span>
					<span class="small">All ingredients are approved for use during USEF Competition</span>
				</div>
			</div>
		</div>
	</body>
</html>