<!DOCTYPE html>
<html>
  <!-- this is the lifeOpp website www.lifeopp.com -->
  <head>
  	<title>LifeOpp | Jobs that Match</title>
	<script>
		/* this is for LiveReload */
		/heroku/.test(location.host)) || document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
	</script>
	<link rel="stylesheet" type="text/css" href="css/lifeopp.css" />
  </head>
  <body>
  	<div class="header">
  		<div class="logo">LifeOpp</div>
  		<div class="search"><input type="text" placeholder="Search" /></div>
  		<div class="left-menu left-border">
  			<ul>
  				<li><a href="#">What is LifeOpp</a></li>
  				<li><a href="#">Employers <span class="text-no-emphasis">Hire &nbsp; Manage</span></a>
  			</ul>
  		</div>
  		<div class="right-menu">
  			<ul>
  				<li><a href="#">Jobs</a></li>
  				<li><a href="#">Login</a></li>
  				<li><a href="#">Sign Up</a></li>
  			</ul>
  		</div>
  	</div>
  	<div class="hero-unit">
  		<div class="hero-paragraph">
  			<h1>Discover yourself,</h1>
  			<h1>Explore new opportunities</h1>
  			<h3>Part-time, full-time or an internship, pick the type of job you want</h3>
  			<div class="dropdown">
  				<select name="job-category">
  					<option selected="selected">Pick an industry</option>
  					<option value="1">Accounting / Finance</option>
  					<option value="2">Admin / Human Resource</option>
  					<option value="3">Education</option>
  					<option value="4">Fitness and Wellness</option>
  					<option value="5">Food &amp; Beverage</option>
  					<option value="6">Hospitality</option>
  					<option value="7">Information Technology</option>
  					<option value="8">Misc</option>
  					<option value="9">Retail / Sales</option>
  				</select>
  			</div>
  		</div>
  		<span class="photo-description">
  			Jason Park preparing the first brew of the day
  		</span>
  		<div class="how-it-works">
  			<a href="#"><span>How it works</span></a>
  		</div>
  	</div>
  	<div class="example">
  		<h1>Jobs matched and ranked to you and what you love</h1>
  		<p class="blurb">Mo loves design. He's skilled at problem-solving and active listening. He was a barista while pursuing his engineering degree. Today, he's a designer at LifeOpp creating the best experience for our users.</p>
  	</div>
  	<div class="call-to-action">
  		<a class="button">Find a job you love</a>
  	</div>
  	<div class="explore">
  		<h1>Explore the jobs you didn't know existed</h1>
  		<p>Find out what you can do based on your unique matches and explore jobs you never thought of. You can even read and follow companies you love and be the first to know when they have openings!</p>
  		<a class="mag-glass">Find a job you love</a>
  	</div>
  	<div class="call-to-action">
  		<span>Are you an employer?</span>
  		<a class="button">Employer Solutions</a>
  	</div>
  	<div class="footer">
  		<div class="sitemap">
	  		<ul>
	  			<li><a href="#">Jobseekers</a></li>
	  			<li><a href="#">Overview</a></li>
	  			<li><a href="#">Find Jobs</a></li>
	  			<li><a href="#">Profile</a></li>

	  			<li><a href="#">Employers</a></li>
	  			<li><a href="#">Overview</a></li>
	  			<li><a href="#">Post a Job</a></li>
	  			<li><a href="#">Profile</a></li>

	  			<li><a href="#">Support</a></li>
	  			<li><a href="#">Contact</a></li>
	  			<li><a href="#">Terms</a></li>
	  			<li><a href="#">Privacy</a></li>
	  		</ul>
  		</div>
  		<div class="social">
  			<span class="copyright">&copy; 2013 LifeOpp</span>
  			<ul class="social-buttons">
  				<li><a href="#"><img src="images/facebook.png" /></a></li>
  				<li><a href="#"><img src="images/twitter.png" /></a></li>
  				<li><a href="#"><img src="images/instagram.png" /></a></li>
  				<li><a href="#"><img src="iamges/googleplus.png"/></a></li>
  			</ul>
  		</div>
  	</div>
  	
  </body>
